html, body, svg {
    margin: 0;
    padding: 0;
}

body {
    align-items: stretch;
    display: flex;
    height: 100vh;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game {
    flex: 1;
}

.hud-elem, .game-elem {
    position: absolute;
}

.hud-gas {
    bottom: 0;
    left: 0;
}

.hud-alt {
    left: 50vw;
    top: 0;
    transform: translateX(-50%);
}

.hud-rpm {
    bottom: 0;
    right: 0;
}

.hud-menu {
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
}

.canvas {
    background-color: #555;
    flex:  1;
}

.loading-screen, .menu {
    align-items: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    text-align: center;
}

.menu h3 {
    color: #fff;
    font-size: 50;
    margin: 0 0;
}

.menu section {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 20;
    margin: 10px 0 20px;
}

.menu i {
    color: #ccf;
}

.menu .numeric {
    color: #ffa;
}

.menu button {
    background: transparent;
    border: 2px solid white;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

.loading-screen {
    background-color: #000;
    color: #fff;
    font-size: 50;
}

.load-text {
    animation: bobble 1s infinite ease-in-out alternate;
    position: absolute;
}

@keyframes bobble {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }

}

.load-title {
    color: #99f;
}