html, body, svg {
    margin: 0;
    padding: 0;
}

body {
    align-items: stretch;
    display: flex;
    height: 100vh;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game {
    flex: 1;
}

.hud-elem, .game-elem {
    position: absolute;
}

.hud-gas {
    bottom: 0;
    left: 0;
}

.hud-alt {
    left: 50vw;
    top: 0;
    transform: translateX(-50%);
}

.hud-rpm {
    bottom: 0;
    right: 0;
}

.hud-title {
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
}

.canvas {
    background-color: #555;
    flex:  1;
}

.loading-screen {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 50;
    justify-content: center;
}

.load-text {
    animation: bobble 1s infinite ease-in-out alternate;
    position: absolute;
}

@keyframes bobble {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }

}

.load-title {
    color: #99f;
}